div.doclinks {
	float: right;
}

a.doclinks {
	padding-left: 10px;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	background-color : #eee	; 
}


.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 2em;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.dataTables_wrapper {
		clear: both;
  	zoom: 1; /* Feeling sorry for IE */
    margin-bottom: 4em; 
}

.dataTables_processing {
	border: 1px solid #ddd;
	background-color: white;
}

.dataTables_wrapper input {
	border: solid 1px; 
	}

.dataTables_length {
	width: 40%;
	float: right;
	text-align: right;
}

.dataTables_filter {
	width: 50%;
	float: left;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}



