@CHARSET "UTF-8";

/* Apply some custom styling for some Forena items (eg: enlarge the tiny icons) */
 
div.forena-editor-links {
  width: 5em;
}

/* Enlarge the (tiny) edit icons a bit + align them right + surround them with a (black) border */

div.forena-editor-links img,
div.forena-edit-links img,
div.content a img {
  height: 1.5em; 
  width: 1.5em;
  margin: 0.25em 0.25em;
  border: thin solid #000000;
  float: right;
}

/* Align data block related edit icons to the right + surround them with a (red) border */
 
div.forena-edit-links {
  border: thin solid #CC0000;
  float: right;
  height: 2.0em;
}

/* Style output rendered via frx:renderer=FrxMyReports */

div.FrxMyReports {
  font-weight: bold;
  font-size: 1.0em;
  white-space: nowrap;
  overflow: auto;
  padding: 0em 0.5em;
  margin: 0.75em;
  line-height: 100%;
  background-color: #ccffee;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #eeffcc 50%,
    #ffffff 50%,
    #bbcc99
  );
  background-size: 100% 2.0em;
  border: medium dashed #ffaa33;
}
 
/* Temporary (?) fixes below */

/* Align textual edit links (without a corresponding edit icon) at the top */

div.forena-edit-links a {
  vertical-align: top;
}

/* Try to show all edit links/icons above (not in between) an UL-list (i.e. in frx:block ULs) */
 
div.content ul.frx-block {
  padding: 2.0em 0.5em 0em 2.5em;
}